*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
debug
wandb
data
ideas
debug_scripts.txt
*.sh
alex.pth
dinov2-small/
gaussian_rasterizer-1.0.0-cp311-cp311-linux_x86_64.whl
logs/
reqs.txt
simple_knn-0.0.0-cp311-cp311-linux_x86_64.whl